doctype html
html(lang='en')
    head
        title To Do App
        link(rel='stylesheet', href='/static/main.css')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap')
    body
        div.wrapper
            h1.logo TO DO APP

            block number1