:root {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 800px;
    margin: 50px auto;
}

.logo {
    text-align: center;
    font-size: 4rem;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input {
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    width: 80%;
    border: 1px solid #ccc;
    font-family: inherit;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 18%;
    border: none;
    background: blue;
    color: #fff;
}

.todos {
    margin-top: 25px;
    border: 1px solid #ccc;
    padding: 10px;

}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 1px solid #ccc;
}

.todo:last-child {
    border-bottom: none;
}

.todo:hover {
    background: #eee;
}

.error, .success {
    text-align: center;
    font-size: 1.4rem;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.error {
    color: red;
    border: 1px solid red;
}

.success {
    color: green;
    border: 1px solid green;
}

.delete {
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    background: tomato;
    color: white;
}

.done, .undone {
    text-decoration: none;
    color: black;
}

.done {
    text-decoration: line-through;

}
